In [1]:
import pandas as pd
diabetes = pd.read_csv('diabetes_raw.csv')
url = 'diabetes_raw.csv'

#I looked thru my date for columns, dtypes,empty columns and missing values. Chcecked size and shape.
# diabetes.columns  
#diabetes.dtypes
#diabetes.head(200)
new_df = diabetes.copy()

In [2]:
#I deleted columns that are not relevent to my hypothesis and the ones that contain too many NaN (e.g. A1Cresult) or too many unknows values ('weight') """
new2_df = new_df.copy()
new2_df = new2_df.drop(['id', 'encounter_id', 'patient_nbr', 'admission_source_id', 'payer_code', 'number_emergency', 'number_inpatient', 'diag_1', 'max_glu_serum',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'weight','medical_specialty', 'insulin', 
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide','race','time_in_hospital',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone','num_lab_procedures', 'num_medications', 'number_diagnoses',
       'tolazamide', 'examide', 'citoglipton','admission_type_id', 'discharge_disposition_id', 'change','diabetesMed',
       'glyburide.metformin', 'A1Cresult','glipizide.metformin', 'diag_2','diag_3','num_procedures',
       'glimepiride.pioglitazone', 'metformin.rosiglitazone', 'number_outpatient', 'number_diagnoses', 
       'metformin.pioglitazone'], axis=1).reset_index()
new2_df.shape
#I looked for dublicates and checked the shape, made sure changes are matched.
new_df.shape
#new2_df.duplicated()
#new2_df.info()
new2_df.shape

(101766, 4)

In [3]:
new2_df["gender"].unique()  # 'Unknown/Invalid'
new2_df.isnull().sum() # Output says 0 therefore the 3 values of Unknowsn I will remove 

new2_df = new2_df.drop(new2_df[new2_df['gender'] == 'Unknown/Invalid'].index)
new2_df.shape

(101763, 4)

In [23]:
#Getting to the most admitted age group and top 4 of all other groups.

age_group = new2_df['age'].value_counts()
age_group_more = age_group.idxmax()
age_group_more # 70-80 output
grouped = new2_df.groupby('age')
#grouped.size() 
#[50-60)     17256
#[60-70)     22483
#[70-80)     26068
#[80-90)     17197

new2_df['readmitted'] = new2_df['readmitted'].replace({'NO': '0'})

In [20]:
new2_df["readmitted"].unique()

array(['0', '>30', '<30'], dtype=object)

In [ ]:
# I installed seaborn through terminal to be able to work on visuals
import seaborn as sns
import matplotlib.pyplot as plt

# now aggregating the data to count the number of re-admittions per age group
new3 = new2_df.groupby(['readmitted', 'gender'])['age'].count()
new3

In [ ]:
sns.countplot(x='age', data=new2_df)

In [ ]:
sns.swarmplot(data = new2_df, y='age', x='readmitted')