In [1]:
import pandas as pd
diabetes = pd.read_csv('diabetes.csv')
url = 'diabetes.csv'
diabetes.columns

Index(['id', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide.metformin', 'glipizide.metformin',
       'glimepiride.pioglitazone', 'metformin.rosiglitazone',
       'metformin.pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [2]:
diabetes.isna().sum()
# the only empty columns are : 
#max_glu_serum               96420
#A1Cresult                   84748

#diabetes.dtypes
diabetes.head(200)

,id,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,1,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,...,No,No,No,No,No,No,No,No,No,NO
1,2,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,3,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,...,No,No,No,No,No,No,No,No,Yes,NO
3,4,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,5,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,2601576,279009,Caucasian,Female,[60-70),?,6,25,1,...,No,Down,No,No,No,No,No,Ch,Yes,>30
196,197,2602860,511965,Caucasian,Female,[60-70),?,6,25,7,...,No,Down,No,No,No,No,No,Ch,Yes,NO
197,198,2629110,2283327,AfricanAmerican,Female,[40-50),?,6,25,1,...,No,Up,No,No,No,No,No,Ch,Yes,<30
198,199,2638410,6225435,Caucasian,Female,[30-40),?,6,25,1,...,No,No,No,No,No,No,No,No,No,NO
199,200,2652750,100605564,Caucasian,Male,[20-30),?,2,6,2,...,No,No,No,No,No,No,No,No,No,>30

In [3]:
new_df = diabetes.copy()
new_df.shape

(101766, 51)

In [4]:
new2_df = new_df.copy()
new2_df = new2_df.drop(['id', 'encounter_id', 'patient_nbr', 'admission_source_id', 'payer_code', 'number_emergency', 'number_inpatient', 'diag_1', 'max_glu_serum',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton',
       'glyburide.metformin', 'A1Cresult','glipizide.metformin',
       'glimepiride.pioglitazone', 'metformin.rosiglitazone',
       'metformin.pioglitazone'], axis=1).reset_index()
new2_df.shape

#A1Cresult - NaN 84748

(101766, 20)

In [5]:
new2_df.head(200)

,index,race,gender,age,weight,admission_type_id,discharge_disposition_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,diag_2,diag_3,number_diagnoses,insulin,change,diabetesMed,readmitted
0,0,Caucasian,Female,[0-10),?,6,25,1,Pediatrics-Endocrinology,41,0,1,0,?,?,1,No,No,No,NO
1,1,Caucasian,Female,[10-20),?,1,1,3,?,59,0,18,0,250.01,255,9,Up,Ch,Yes,>30
2,2,AfricanAmerican,Female,[20-30),?,1,1,2,?,11,5,13,2,250,V27,6,No,No,Yes,NO
3,3,Caucasian,Male,[30-40),?,1,1,2,?,44,1,16,0,250.43,403,7,Up,Ch,Yes,NO
4,4,Caucasian,Male,[40-50),?,1,1,1,?,51,0,8,0,157,250,5,Steady,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,Caucasian,Female,[60-70),?,6,25,1,Orthopedics-Reconstructive,31,2,16,0,250.51,362,6,Down,Ch,Yes,>30
196,196,Caucasian,Female,[60-70),?,6,25,4,Surgery-General,57,1,17,0,403,250.4,8,Down,Ch,Yes,NO
197,197,AfricanAmerican,Female,[40-50),?,6,25,6,Obsterics&Gynecology-GynecologicOnco,60,5,27,0,280,250.02,8,Up,Ch,Yes,<30
198,198,Caucasian,Female,[30-40),?,6,25,4,ObstetricsandGynecology,65,3,25,0,648,654,9,No,No,No,NO
199,199,Caucasian,Male,[20-30),?,2,6,10,?,46,0,30,0,560,V42,8,No,No,No,>30

In [6]:
new2_df.isna().sum()

index                       0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
time_in_hospital            0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
diag_2                      0
diag_3                      0
number_diagnoses            0
insulin                     0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [7]:
new2_df.loc[row_index, '?']

NameError: name 'row_index' is not defined

In [8]:
new2_df.loc['?']

KeyError: '?'